<footer id="footer">
	<div class="container">
		<div class="row" style="padding-top:5px;">
			<div class="col-md-12 copy-right-cls" style="padding-top:5px;">
				<div class="footerleft">
					<img class='footerLogo  hidden-xs image-responsive' src="../../img/cognizant.png">
				</div>
				<div data-ng-controller="FooterController">
					<div class="copyrightText">{{copyrightText}}</div>
					<div class="confidentText hidden-xs">{{confidentText}}</div>
				</div>
			</div>
		</div>
	</div>
</footer>
