<div class="container" ng-controller="DetailController">
    <div class="row">
        <h4 class='col-md-4 col-sm-4 col-xs-4'>DEVICE DETAILS</h4>
    </div>
    <div class="row">
        <div class='col-md-4 col-sm-4 col-xs-4'>DEVICE NAME</div>
        <div class='col-md-8 col-sm-8 col-xs-8'>{{deviceFields.asset_name}}</div>
    </div>
    <div class="row">
        <div class='col-md-4 col-sm-4 col-xs-4'>DEVICE CTS ID</div>
        <div class='col-md-8 col-sm-8 col-xs-8'>{{deviceFields.asset_cts_id}}</div>
    </div>
    <div class="row">
        <div class='col-md-4 col-sm-4 col-xs-4'>DEVICE TYPE</div>
        <div class='col-md-8 col-sm-8 col-xs-8'>{{deviceFields.asset_type}}</div>
    </div>
    <div class="row">
        <div class='col-md-4 col-sm-4 col-xs-4'>DEVICE MODEL</div>
        <div class='col-md-8 col-sm-8 col-xs-8'>{{deviceFields.asset_model}}</div>
    </div>
    <div class="row">
        <div class='col-md-4 col-sm-4 col-xs-4'>DEVICE PLATFORM VERSION</div>
        <div class='col-md-8 col-sm-8 col-xs-8'>{{deviceFields.asset_platform_version}}</div>
    </div>
    <div class="row">
        <div class='col-md-4 col-sm-4 col-xs-4'>DEVICE UDID</div>
        <div class='col-md-8 col-sm-8 col-xs-8'>{{deviceFields.asset_udid}}</div>
    </div>
    <div class="row">
        <div class='col-md-4 col-sm-4 col-xs-4'>DEVICE IMEI</div>
        <div class='col-md-8 col-sm-8 col-xs-8'>{{deviceFields.asset_imei}}</div>
    </div>
    <div class="row">
        <div class='col-md-4 col-sm-4 col-xs-4'>DEVICE SERIAL NO.</div>
        <div class='col-md-8 col-sm-8 col-xs-8'>{{deviceFields.asset_serialno}}</div>
    </div>
    <div class="row">
        <div class='col-md-4 col-sm-4 col-xs-4'>DEVICE PROCUREMENT ID</div>
        <div class='col-md-8 col-sm-8 col-xs-8'>{{deviceFields.asset_procurement_id}}</div>
    </div>
    <div class="row">
        <div class='col-md-4 col-sm-4 col-xs-4'>DEVICE LOCATION</div>
        <div class='col-md-8 col-sm-8 col-xs-8'>{{deviceFields.asset_location}}</div>
    </div>
    <div class="row">
        <div class='col-md-4 col-sm-4 col-xs-4'>DEVICE DESCRIPTRION</div>
        <div class='col-md-8 col-sm-8 col-xs-8'>{{deviceFields.asset_description}}</div>
    </div>
    </br>
    <div class="row">
        <h4 class='col-md-4 col-sm-4 col-xs-4'>CURRENT OWNER DETAILS:</h4>
    </div>
    <div class="row">
        <div class='col-md-4 col-sm-4 col-xs-4'>OWNER EMPLOYEE ID</div>
        <div class='col-md-8 col-sm-8 col-xs-8'>{{ownerFields.owner_id}}</div>
    </div>
    <div class="row">
        <div class='col-md-4 col-sm-4 col-xs-4'>OWNER NAME</div>
        <div class='col-md-8 col-sm-8 col-xs-8'>{{ownerFields.owner_name}}</div>
    </div>
    <div class="row">
        <div class='col-md-4 col-sm-4 col-xs-4'>DATE TAGGED</div>
        <div class='col-md-8 col-sm-8 col-xs-8'>{{ownerFields.date_tagged}}</div>
    </div>
    <div class="row">
        <div class='col-md-4 col-sm-4 col-xs-4'>OWNER'S PROJECT</div>
        <div class='col-md-8 col-sm-8 col-xs-8'>{{ownerFields.owner_project}}</div>
    </div>



</div>