<div class="container" ng-controller="MyAssetsController">
    <div class="row" style="margin-right:0px;margin-left:0px;">

        <div class="row" style='margin:0px'>
            <label class="homepage page header .col-md-6 .col-lg-6 .col-sm-6" style="margin-top:0px">My Assets</label>
            <input class="searchbar .col-md-6 .col-lg-6 .col-sm-6" style="margin:0px 0px 5px 5px; top:5px; float:right" type="text" placeholder="Search..." ng-model="assetSearchText">
        </div>

        <div class="assetListTableBorder" style="margin-top: 9px;">
            <div ng-class-even="'evenRow'" ng-class-odd="'oddRow'" id="assetTableRow" data-ng-repeat="item in assetDataObject | filter:ostype |filter:assetSearchText">
                
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 content-container rowLabel myAssetsRowLabel" style="margin-left:0px; ver">
                    <a ng-href="#!devicedetails/{{item}}">{{item.asset_name}}</a>
                </div>
                <div id="rowTopRightLabel" class="col-lg-4 col-md-3 col-sm-3 col-xs-6 content-container rowLabel myAssetsRowLabel">
                    {{item.asset_type + ' ' +item.asset_platform_version}}
                </div>
                <div id="rowBottomLeftLabel" class="col-lg-2 col-md-3 col-sm-3 col-xs-6 content-container rowLabel myAssetsRowLabel">
                    {{date_tagged?('Since '+ item.date_tagged | date :'dd mm yy'):item.asset_cts_id}}
                </div>

                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 content-container assignButton">
               		<button type="button" class="btn btn-primary">Assign</button>
                </div>
                
            </div>

        </div>
    </div>
</div>
