#footer {
    background: #f9f9f9;
    border-top: #ccc solid 1px;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#footer .copyrightText {
    margin-bottom: 15px;
    margin-top: 25px;
}

#footer div {
    font-size: 11px;
    font-family: Arial;
    color: #0065cc;
}

#footer .copy-right-cls {
    margin-bottom: 25px;
}

#footer .footerleft {
    width: 120px;
    height: 105px;
    float: left;
}


.footerLogo {
    padding-top: 20px;
    max-height: 90px;
}


@media (max-width: 767px) {
    #footer .copyrightText {
        margin-top: 15px;
    }
    
    #footer .footerleft {
        width: 100px;
        float: left;
        margin-left: 20px;
        height: auto;
    }
    
    #rowTopRightLabel {
        text-align: right
    }
 }   
/*
    .footerLogo {
        margin-top: 5px;
    }     
*/


/*
@media (max-width: 1000px) {
    .footerLogo {
        margin-top: 5px;
    }     
}
*/
