.homepage .page.header {
    width: 200px
}

.assignButton {
    text-align: right
}

@media screen and (min-width: 767px) {
    .assignButton {
        margin-top: 9px;
    }
 
    #assetTableRow {
        min-height: 50px;
    }    
}

@media screen and (max-width: 767px) {
    #rowBottomLeftLabel {
        margin-top: 10px;
    }    
    
    .assignButton {
        margin-top: 2px;
    }
    
    #assetTableRow {
        min-height: 70px;
    }
    
    .myAssetsRowLabel{
        margin-top: 7px;
    }
}

$color-light: #C2C8CD;
$color-dark: #515457;

