<div data-ng-controller="AssetAdminController" class="adminOuterView">
    <ol class="breadcrumb" style="background-color: white;margin:0;padding:10px 0 0px 20px;">
        <li><a href="/">Home</a>
        </li>
        <li class="active">Asset Admin</li>
    </ol>
    <button type="button" class="btn btn-primary" style="width:120px; float:right;" data-toggle="modal" data-target="#addassetform" ng-click="openAddWindow">Add Assets</button>
    <div class="settings-container" style="clear: both;">
        <fieldset class="container-border">
            <legend class="container-border">
                <h4> Asset Settings</h4>
            </legend>
            <button type="button" class="btn btn-primary container-border">Edit Asset Types</button>
            <button type="button"   class="btn btn-primary container-border" style=" margin-left: 20px;">Edit Locations</button>
            <h4> Coming Soon !!</h4>
        </fieldset>
    </div>

    <div class="blogs-container">
        <fieldset class="container-border">
            <legend class="container-border">
                <h4> Asset List </h4>
            </legend>
            <div id="scrollArea">
                <div class="" data-ng-repeat="item in assetDataObject">
                    <div class="col-md-3 content-container" style="margin-left:0px;">
                        {{item.asset_name+' ('+item.asset_cts_id+')'}}
                    </div>
                    <div class="col-md-3 content-container">
                       {{item.asset_type + ' ' +item.asset_platform_version}}
                    </div>
                    <div class="col-md-3 content-container">
                        {{item.owner_id ? item.owner_name +' ('+item.owner_id +')' : 'Available'}}
                    </div>
                    <div class="col-md-3 content-container">
                        <a ng-click="assignAssetId(item._id)" data-toggle="modal" data-target="#allocateDialog"  > Allocate</a>  <span class="slash">/</span> 
                        <a data-toggle="modal" data-target="#addassetform" ng-click="openEditWindow($index)"> Edit </a>  <span class="slash">/</span> 
<!--                        <a ng-click="open($index)" style="cursor:pointer" ng-click="deleteAsset($index)"> Delete </a> -->
                        <a style="cursor:pointer" ng-click="deleteAsset($index)"> Delete </a>                         
                    </div>
                    <hr style="border:solid #cacbce; border-width:1px 0 0; height:0; clear:both; padding:5px;">
                </div>


            </div>

        </fieldset>
    </div>

    
<!--  Asset Add/Edit modal window  -->
    
    <div class="modal fade" id="addassetform" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 class="modal-title" id="myModalLabel">{{addEditMode=='Edit'?'Edit Asset':'Add Asset'}}</h3>
                </div>
                <div class="modal-body">
                    <form name="assetsform" novalidate role="form">


                        <div class="row ">
                            <div class="col-md-12 col-sm-12  form-group">
                                <label class="control-label col-sm-4 col-md-4">Asset Name</label>
                                <div class="col-sm-6 col-md-6 ">
                                    <input type="text" size="30" name="asset_name" data-ng-model="asset.asset_name " class="form-control" required>
                                    <small class="error" ng-show="assetsform.asset_name.$error.required && submitted">Required!</small>
                                    <small class="error" ng-show="assetsform.asset_name.$error.required && submitted">Required!</small>
                                </div>
                            </div>
                        </div>

                        <div class="row ">
                            <div class="col-md-12 col-sm-12  form-group">
                                <label class="control-label col-sm-4 col-md-4">Asset Id</label>
                                <div class="col-sm-6 col-md-6 ">
                                    <input type="text" size="30" name="asset_cts_id" data-ng-model="asset.asset_cts_id" class="form-control" required>
                                    <small class="error" ng-show="assetsform.asset_cts_id.$error.required && submitted">Required!</small>
                                </div>
                            </div>
                        </div>


                        <div class="row ">
                            <div class="col-md-12 col-sm-12  form-group">
                                <label class="control-label col-sm-4 col-md-4" style="margin-top:0px;">Asset Procurement Number</label>
                                <div class="col-sm-6 col-md-6 ">
                                    <input type="text" size="30" name="asset_procurement_id" data-ng-model="asset.asset_procurement_id" class="form-control" required>
                                    <small class="error" ng-show="assetsform.asset_procurement_id.$error.required && submitted">Required!</small>
                                </div>
                            </div>
                        </div>


                        <div class="row ">
                            <div class="col-md-12 col-sm-12  form-group">
                                <label class="control-label col-sm-4 col-md-4">Asset Type</label>
                                <div class="col-sm-6 col-md-6 ">
                                    <select data-ng-model="asset.asset_type" name="asset_type" class="form-control" required>
                                        <option data-ng-repeat="item in ostypesList">{{item.value}}</option>
                                    </select>
                                    <small class="error" ng-show="assetsform.asset_type.$error.required && submitted">Required!</small>
                                </div>
                            </div>
                        </div>


                        <div class="row ">
                            <div class="col-md-12 col-sm-12  form-group">
                                <label class="control-label col-sm-4 col-md-4">Asset Model</label>
                                <div class="col-sm-6 col-md-6 ">
                                    <input type="text" size="30" name="asset_model" data-ng-model="asset.asset_model " class="form-control" required>
                                    <small class="error" ng-show="assetsform.asset_model.$error.required && submitted">Required!</small>
                                </div>
                            </div>
                        </div>

                        <div class="row ">
                            <div class="col-md-12 col-sm-12  form-group">
                                <label class="control-label col-sm-4 col-md-4">Asset Platform Version</label>
                                <div class="col-sm-6 col-md-6 ">
                                    <input type="text" size="30" name="asset_platform_version" data-ng-model="asset.asset_platform_version" class="form-control" required>
                                    <small class="error" ng-show="assetsform.asset_platform_version.$error.required && submitted">Required!</small>
                                </div>
                            </div>
                        </div>

                        <div class="row ">
                            <div class="col-md-12 col-sm-12  form-group">
                                <label class="control-label col-sm-4 col-md-4">Asset UDID</label>
                                <div class="col-sm-6 col-md-6 ">
                                    <input type="text" size="30" name="asset_udid" data-ng-model="asset.asset_udid " class="form-control" required>
                                    <small class="error" ng-show="assetsform.asset_udid.$error.required && submitted">Required!</small>
                                </div>
                            </div>
                        </div>

                        <div class="row ">
                            <div class="col-md-12 col-sm-12  form-group">
                                <label class="control-label col-sm-4 col-md-4">Asset IMEI</label>
                                <div class="col-sm-6 col-md-6 ">
                                    <input type="text" size="30" name="asset_imei" data-ng-model="asset.asset_imei" class="form-control" required>
                                    <small class="error" ng-show="assetsform.asset_imei.$error.required && submitted">Required!</small>
                                </div>
                            </div>
                        </div>

                        <div class="row ">
                            <div class="col-md-12 col-sm-12  form-group">
                                <label class="control-label col-sm-4 col-md-4">Asset Serial Number</label>
                                <div class="col-sm-6 col-md-6 ">
                                    <input type="text" size="30" name="asset_serialno" data-ng-model="asset.asset_serialno " class="form-control" required>
                                    <small class="error" ng-show="assetsform.asset_serialno.$error.required && submitted">Required!</small>
                                </div>
                            </div>
                        </div>




                          <div class="row ">
                            <div class="col-md-12 col-sm-12  form-group">
                                <label class="control-label col-sm-4 col-md-4">Asset Location</label>
                                <div class="col-sm-6 col-md-6 ">
                                    <select data-ng-model="asset.asset_location" name="asset_location" class="form-control" required>
                                        <option data-ng-repeat="item in locationsList">{{item.value}}</option>
                                    </select>
                                    <small class="error" ng-show="assetsform.asset_location.$error.required && submitted">Required!</small>
                                </div>
                            </div>
                        </div>

                        <div class="row ">
                            <div class="col-md-12 col-sm-12  form-group">
                                <label class="control-label col-sm-4 col-md-4">Asset Description</label>
                                <div class="col-sm-6 col-md-6 ">
                                    <input type="text" size="30" data-ng-model="asset.asset_description" class="form-control">
                                </div>
                            </div>
                        </div>

                        <!-- <div class="row ">
                            <div class="col-md-12 col-sm-12  form-group">
                                <label class="control-label col-sm-4 col-md-4">Asset Owner</label>
                                <div class="col-sm-6 col-md-6 ">
                                    <input type="text" size="30" name="assetname" data-ng-model="assetname" class="form-control" required>
                                    <small class="error" ng-show="assetsform.assetname.$error.required && submitted">Required!</small>
                                </div>
                            </div>
                        </div>

                        <div class="row ">
                            <div class="col-md-12 col-sm-12  form-group">
                                <label class="control-label col-sm-4 col-md-4">Asset Description</label>
                                <div class="col-sm-6 col-md-6 ">
                                    <input type="text" size="30" name="assetname" data-ng-model="assetname" class="form-control" required>
                                    <small class="error" ng-show="assetsform.assetname.$error.required && submitted">Required!</small>
                                </div>
                            </div>
                        </div> -->

                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" style="width:80px;" ng-click="addEditAsset()">Submit</button>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script type="text/ng-template" id="deleteDialog-Admin">
        < div class = "modal-header" > < h3 > Delete Confirmation < /h3>
        </div > < div class = "modal-body" >
            Are you sure want to delete this Blog ? < /div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button > < button class = "btn btn-warning"
        ng - click = "cancel()" > Cancel < /button>
        </div >
    </script>

    <div id="allocateDialog" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" >
        <div class="modal-content" style="margin:0 auto;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Allocate Asset To</h4>
            </div>
            <div class="modal-body">
                <form name="allocateform" novalidate role="form">
                    <div class="row ">
                        <div class="col-md-12 col-sm-12  form-group">
                            <label class="control-label col-sm-4 col-md-4">Associate Id</label>
                            <div class="col-sm-6 col-md-6 " >
                                <input type="text" name="ownerid" size="30" data-ng-model="owner.owner_id" class="form-control" required>
                                 <small class="error" ng-show="allocateform.ownerid.$error.required && allocatesubmitted">Required!</small>
                            </div>  
                            <button class="glyphicon glyphicon-eye-open" style="top:9px; margin:0px" ng-click="checkUserId()">
                        </div>
                    </div>
                        
                    <div class="row ">
                        <div class="col-md-12 col-sm-12  form-group">
                            <label class="control-label col-sm-4 col-md-4">Associate Name</label>
                            <div class="col-sm-6 col-md-6 ">
                                <input type="text" size="30" name="ownername" data-ng-model="owner.owner_name" class="form-control" required>
                                <small class="error" ng-show="allocateform.ownername.$error.required && allocatesubmitted">Required!</small>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row ">
                        <div class="col-md-12 col-sm-12  form-group">
                            <label class="control-label col-sm-4 col-md-4">Associate Mail</label>
                            <div class="col-sm-6 col-md-6 ">
                                <input type="email" size="30" name="ownermail" data-ng-model="owner.owner_mail" class="form-control" required>
                                <small class="error" ng-show="allocateform.ownermail.$error.required && allocatesubmitted">Required!</small>
                                <small class="error" ng-show="allocateform.ownermail.$error.email && allocatesubmitted">Enter valid email!</small>
                            </div>
                        </div>
                    </div>        
               </form>
            </div>
            <div class="modal-footer" style="clear: both;">
                <button type="button" class="btn btn-primary"  data-ng-click="allocateAsset()">Allocate</button>
            </div>
            </div>
        </div>
    </div>

</div>











