<div class="container" data-ng-controller="UserAdminController" >
    <ol class="breadcrumb" style="background-color: white;margin:0;padding:10px 0 30px 20px;">
        <li><a href="/">Home</a></li>
        <li class="active">User Admin</li>
    </ol>


    <div style="clear:both; padding-bottom:10px;">
         <button type="button" class="btn btn-primary" style="width:100px; float:right; margin-right:20px;margin-bottom:10px;"ng-click="addUser()" data-toggle="modal" data-target="#userform">Add User</button>
    </div>
<!--  Container for Admin Users-->

     <div class="blogs-container"  style="clear:both;">
        <fieldset class="container-border">
            <legend class="container-border"> <h4> Global Admin Users </h4></legend>
            <input class="searchbar" type="text" placeholder="Search..." ng-model="searchText">
            <button style="border:none;background:none;margin-left:-36px;color:#CCCCCC;"><i class="glyphicon glyphicon-search"></i></button>
           
            <div style="padding-top:25px;" >
                    <div class="col-md-4 content-container" style="margin-left:0px;">
                        <h4 style="color:#0088CC">Associate Name</h4>
                    </div>
                    <div class="col-md-2 content-container">
                        <h4 style="color:#0088CC">Associate Id</h4>
                    </div>
                    <div class="col-md-2 content-container">
                        <h4 style="color:#0088CC">Role</h4>
                    </div>
                    <div class="col-md-4 content-container">
                        <h4 style="color:#0088CC">Action</h4>
                    </div>
                   
                    <hr  style="border:solid #cacbce; border-width:1px 0 0; height:0; clear:both; padding:5px;">
                </div>
            <div id="scrollArea">
          
                <div class="" data-ng-repeat="item in globalAdminUsers | filter:searchText">
                    <div class="col-md-4 content-container" style="margin-left:0px;">
                        {{item.username}} 
                    </div>
                     <div class="col-md-2 content-container" style="margin-left:0px;">
                        {{item.userid}} 
                    </div>
                    <div class="col-md-2 content-container">
                        {{item.role}}
                    </div>
                    <div class="col-md-4 content-container">
                     <a ng-click="remove($index,1)" ng-show="item.role!=1" style="cursor:pointer"> Delete</a> 
                    </div>
                    <hr  style="border:solid #cacbce; border-width:1px 0 0; height:0; clear:both; padding:5px;">
                </div>
                
              
            </div>

        </fieldset>
    </div>

    <!--  Container for Admin Users-->

     <div class="blogs-container"  style="clear:both;">
        <fieldset class="container-border">
            <legend class="container-border"> <h4> Asset Admin Users </h4></legend>
            <input class="searchbar" type="text" placeholder="Search..." ng-model="adminsearchText">
            <button style="border:none;background:none;margin-left:-36px;color:#CCCCCC;"><i class="glyphicon glyphicon-search"></i></button>
           
            <div style="padding-top:25px;" >
                    <div class="col-md-4 content-container" style="margin-left:0px;">
                        <h4 style="color:#0088CC">Associate Name</h4>
                    </div>
                    <div class="col-md-2 content-container">
                        <h4 style="color:#0088CC">Associate Id</h4>
                    </div>
                    <div class="col-md-2 content-container">
                        <h4 style="color:#0088CC">Role</h4>
                    </div>
                    <div class="col-md-4 content-container">
                        <h4 style="color:#0088CC">Action</h4>
                    </div>
                   
                    <hr  style="border:solid #cacbce; border-width:1px 0 0; height:0; clear:both; padding:5px;">
                </div>
            <div id="scrollArea">
          
                <div class="" data-ng-repeat="item in assetAdminUsers | filter:adminsearchText">
                    <div class="col-md-4 content-container" style="margin-left:0px;">
                        {{item.username}} 
                    </div>
                     <div class="col-md-2 content-container" style="margin-left:0px;">
                        {{item.userid}} 
                    </div>
                    <div class="col-md-2 content-container">
                        {{item.role}}
                    </div>
                    <div class="col-md-4 content-container">
                     <a ng-click="remove($index,0)"  style="cursor:pointer"> Delete</a> 
                    </div>
                    <hr  style="border:solid #cacbce; border-width:1px 0 0; height:0; clear:both; padding:5px;">
                </div>
                
              
            </div>

        </fieldset>
    </div>


    <!-- MODAL WINDOWS-->
    <div class="modal fade" id="userform" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" >
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 class="modal-title" id="myModalLabel">Add Users</h3>
                </div>
                <div class="modal-body" >
                    <form name="userform" novalidate role="form" >
                        <div class="row ">
                            <div class="col-md-12 col-sm-12  form-group">
                                <label class="control-label col-sm-4 col-md-4">Associate Id</label>
                                <div class="col-sm-6 col-md-6 ">
                                    <input id="usernameText" type="text" size="30" name="id" data-ng-model="user.userid"    class="form-control" required>
                                    <small class="error" ng-show="userform.id.$error.required && submitted">Required!</small>
                                </div>
                                <button class="glyphicon glyphicon-eye-open" style="top:9px; margin:0px" ng-click="checkUserId()">
                        </button>
                            </div>
                        </div>

                        <div class="row ">
                            <div class="col-md-12 col-sm-12  form-group">
                                <label class="control-label col-sm-4 col-md-4">Associate Name</label>
                                <div class="col-sm-6 col-md-6 ">
                                    <input id="usernameText" type="text" size="30" name="name" data-ng-model="user.username"    class="form-control" required>
                                    <small class="error" ng-show="userform.name.$error.required && submitted">Required!</small>
                                </div>
                            </div>
                        </div>

                        <div class="row ">
                            <div class="col-md-12 col-sm-12  form-group">
                                <label class="control-label col-sm-4 col-md-4">Role</label>
                                <div class="col-sm-6 col-md-6 ">
                                    <select class="col-xs-12 col-sm-12 col-md-12" data-ng-model="user.role"  name="role" style="height:30px;" required>
                                        <option data-ng-repeat="item in roles" value= {{item.value}}>{{item.title}}</option>
                                    </select>
                                    <small class="error" ng-show="userform.role.$error.required && submitted">Required!</small>
                                </div>
                            </div>
                        </div>


                        <div class="modal-footer">
                             <button type="button" class="btn btn-primary" style="width:80px;"  ng-click="create()" >Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>



 </div>   
