
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="https://www.facebook.com/2008/fbml" itemscope="itemscope" itemtype="http://schema.org/Product">

	 <body>
	 	<div class="row" style="margin: 20px;padding: 20px;"> 
	 		<div class="row">
	 			<img src="./../img/home/ebayHeaderIcon-rez.png" title="logo" name="logo"/>
	 		</div>
	 		<div class="row text-center" style="padding: 20px 20px 20px 0px;border: 1px solid;">
	 			<!--<img src="./../img/icons/info.jpg" class="img-responsive" title="Browser Support" name="browser_support" style="vertical-align: middle;"/> Oops!! This feature works best with Chrome, Safari and Mozilla browsers.-->
	 			<img src="./../img/icons/info.jpg" class="img-responsive" title="Browser Support" name="browser_support" style="vertical-align: middle;"/> Oops!! This feature works best with Chrome and Safari browsers.
	 		</div>
	 	</div>
	 </body>
 </html>